.collapse {
    display:flex;
    background-color:#FF6060;
}

.collapse-content {
    display:flex;
    flex-direction:column;
    width:80%;
}

.collapse-title {
    background-color:#FF6060;
    display:flex;
    justify-content:space-between;
    border-radius: 5px 5px 5px 5px;
    padding-left:15px;
    height:40px;
    margin-bottom:20px;

}

.arrowUp, .arrowDown {
    width: 15px;
    margin-right: 30px;
    margin-top:16px;
  }

  .aboutMain {
    display:flex;
    justify-content:center;
    margin-top:40px;
    margin-bottom:285px;
  }

.collapse-section {
    background-color:#F6F6F6;
    border-radius: 5px 5px 5px 5px;
}

.title-style {
    color:white; 
    font-size:1.2em;
    align-self:center;
}

.content-style {
    color:#FF6060;
    font-size:1em;
    padding-right:10px;
    padding-left:10px;
    align-self:center;
    padding-bottom:10px;
}